<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Show</title>
</head>
<body>
<p th:text="${attraction.getTitle() + ', ' + attraction.getAuthor() + ', ' + attraction.getYear()}">VALUE</p>

<div th:if="${owner}">
    <span>Книга сейчас у: </span> <span th:text="${owner.getFullName()}">Person Name</span>

    <form th:method="PATCH" th:action="@{/attractions/{id}/release(id=${attraction.getId()})}">
        <input type="submit" value="Освободить книгу"/>
    </form>
</div>

<div th:if="${people}">
    <span>Эта книга свободна. Кому назначить ее?</span>
    <form th:method="PATCH" th:action="@{/attractions/{id}/assign(id=${attraction.getId()})}">
        <label for="city">Выберите человека</label>
        <select th:object="${city}" th:field="*{id}" id="city">
            <option th:each="city : ${people}" th:value="${city.getId()}" th:text="${city.getFullName()}">
            </option>
        </select>
        <input type="submit" value="Назначить книгу"/>
    </form>
</div>

<hr/>

<form th:method="GET" th:action="@{/attractions/{id}/edit(id=${attraction.getId()})}">
    <input type="submit" value="Редактировать"/>
</form>

<form th:method="DELETE" th:action="@{/attractions/{id}(id=${attraction.getId()})}">
    <input type="submit" value="Удалить"/>
</form>

</body>
</html>